/* Basic Styles */
body {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

/* Grid System */
.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 30%;
  float: left;
}

/* Header */
header {
  background-color: firebrick;
  height: 150px;
}

header .full-width {
  padding: 20px 0;
}

header h1 {
  font-family: 'Special Elite', cursive;
  font-size: 52px;
  color: #FFF;
}

header nav {
  float: right;
}

header nav ul li {
  display: inline-block;
  padding: 25px 0;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  padding-left: 15px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

/* About */
#about {
  height: 650px;
}

#about .full-width {
  padding: 20px 0;
}

#about h2 {
  font-family: 'Special Elite', cursive;
  font-size: 32px;
  color: darkblue;
}

#about p {
  font-size: 20px;
  line-height: 42px;
}

#about span {
  color: darkblue;
  font-weight: bold;
}

#about ul {
  float: left;
}

#about ul li {
  display: inline-block;
}

#about button {
  background-color: darkblue;
  padding: 15px;
  font-size: 16px;
}

#about button a {
  color: #FFF;
}

#about img {
  height: 500px;
  padding: 25px;
}

/* Portfolio */
#portfolio {
  height: 500px;
}

#portfolio .full-width {
  padding: 20px 0;
}

#portfolio .third-width {
  padding-right: 25px;
}

#portfolio h2 {
  font-family: 'Special Elite', cursive;
  font-size: 42px;
  color: darkblue;
}

#portfolio img {
  width: 400px;
}

#portfolio h3 {
  font-size: 32px;
}

/* Contact */
#contact {
  height: 550px;
}

#contact .full-width {
  padding: 20px 0;
}

#contact h2 {
  font-family: 'Special Elite', cursive;
  font-size: 42px;
  color: darkblue;
}

#contact img {
  height: 350px;
  padding: 20px;
}

#contact p {
  font-size: 20px;
  line-height: 42px;
}

/* Footer */
footer {
  background-color: firebrick;
  height: 70px;
}

footer p {
  font-size: 16px;
  color: #FFF;
}

footer nav {
  float: right;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li i {
  padding-left: 15px;
  color: #FFF;
}
