* {
  font-family: 'Montserrat', sans-serif;
}

main {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
/* Navbar */
#navbar {
  overflow: hidden;
  background-color: firebrick;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 30px;
}

#navbar ul {
  float: left;
}

#navbar ul li {
  display: inline-block;
}

#navbar ul li a {
  color: #fff;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding-left: 40px;
}

/* Welcome Section */
/** Referenced Jose Cardoso's My ePortfolio for help on selcome section */
#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

#welcome-section section {
  margin: auto;
  padding: 80px 0;
}

#welcome-section h1 {
  font-size: 52px;
}

#welcome-section span {
  font-family: 'Special Elite', cursive;
  color: darkblue;
}

#welcome-section h3 {
  font-size: 32px;
}

/* Projects */
#projects {
  height: 450px;
}

#projects h2 {
  font-family: 'Special Elite', cursive;
  font-size: 42px;
  color: darkblue;
}

#projects .row {
  padding: 20px 0;
}

#projects h3 {
  font-size: 32px;
  color: darkblue;
  text-align: center;
}

#projects img {
  padding-left: 230px;
  padding-bottom: 15px;
}

#projects button a {
  color: #fff;
  font-size: 16px;
}

/* Blogs */
#blogs {
  height: 350px;
  padding: 20px 0;
}

#blogs h2 {
  font-size: 42px;
  font-family: 'Special Elite', cursive;
  color: darkblue;
}

#blogs h3 {
  font-size: 32px;
  color: darkblue;
  text-align: center;
}

#blogs p {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 15px;
}

#blogs button a {
  color: #fff;
  font-size: 16px;
}

/* Contact */
#contact {
  height: 350px;
  padding: 20px 0;
}

#contact h2 {
  font-size: 42px;
  font-family: 'Special Elite', cursive;
  color: darkblue;
}

#contact h3 {
  font-size: 32px;
  color: darkblue;
  text-align: center;
}

#contact p {
  font-size: 20px;
}

#contact a {
  color: darkblue;
  font-size: 20px;
  text-decoration: none;
}

#contact nav ul li {
  display: inline-block;
}

#contact nav ul li i {
  text-decoration: none;
  color: darkblue;
  padding-left: 15px;
}

/* Footer */
footer {
  height: 40px;
  background-color: firebrick;
}

footer p {
  font-size: 16px;
  color: #fff;
  padding-left: 15px;
}

@media all and (max-width: 300px) {
  #navbar a {
    text-align: center;
    width: 100%;
  }
}