/*=== Sass Variables ===*/
$main-font: 'Lora',
    serif;
$headline-font: 'Comfortaa',
    cursive;
$black: #342A21;
$pink: #DA667B;
$background-color: #71816D;
$hover-color: #F1E0C5;
$light-brown: #C9B79C;
$white: #fff;

/* === Base Styles ===*/
body {
    font-size: 20px;
    font-family: $main-font;
    color: $black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* === Grid system ===*/
.full-width {
    width: 100%;
    margin: 0 auto;
}

.half-width {
    width: 50%;
    float: left;
}

.third-width {
    width: 30%;
    float: left;
}

/* == Header ==*/
header {
    width: 100%;
    background-color: $background-color;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;

    #navbar {
        width: 100%;

        .logo {
            width: 20%;
            padding-top: 15px;
        }

        #logo {
            height: 100px;
            padding: 15px 35px;
            margin-bottom: 20px;
        }

        .link-items {
            width: 70%;
            padding: 60px 35px;

            a {
                display: inline-block;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                font-size: 20px;
                color: $white;
            }

            a:hover {
                color: $hover-color;
            }
        }
    }
}

/*== Welcome Section ==*/
#welcome-section {
    border: 5px solid $light-brown;
    padding: 80px 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 45px;
        font-family: $headline-font;
        text-align: center;
        color: $background-color;
    }

    h3 {
        font-size: 35px;
        font-family: $headline-font;
        text-align: center;
    }
}

/*== Artist Statement ==*/
#artist-statement {
    padding: 80px;
    height: 400px;

    img {
        width: 100%;
    }

    p {
        line-height: 32px;
        padding: 40px 75px;
    }
}

/*== Mission quote ==*/
#mission-quote {
    padding: 80px;
    background-color: $pink;

    blockquote {
        font-size: 25px;
        color: $white;
        text-align: center;
    }
}

/* == Projects ==*/
#projects {
    padding: 50px;
    height: 500px;

    .third-width {
        margin-right: 40px;
    }

    h2 {
        font-size: 35px;
        font-family: $headline-font;
        color: $background-color;
        text-align: center;
    }

    .project-tile {
        text-align: center;

        img {
            width: 100%;
        }

        h3 {
            font-family: $headline-font;
            font-size: 25px;
        }

        caption {
            font-size: 18px;
            word-spacing: 15px;
        }

        a {
            color: $pink;
            text-decoration: none;
        }

        a:hover {
            color: $hover-color;
        }
    }
}

/*== Contact ==*/
#contact {
    border: 5px solid $light-brown;
    height: 150px;
    padding: 15px;

    h2 {
        text-align: center;
        font-family: $headline-font;
        font-size: 30px;
        color: $background-color;
    }

    p {
        font-size: 20px;
        text-align: center;
    }

    ul {
        padding-left: 55px;

        li {
            list-style-type: none;
            display: inline-block;
            padding-left: 15px;

            a {
                color: $pink;
                text-decoration: none;
            }

            a:hover {
                color: $hover-color;
            }
        }
    }
}

/*== Footer ==*/
footer {
    background-color: $background-color;
    width: 100%;

    p {
        text-align: center;
        font-size: 18px;
        color: $white;
    }
}