/*== = Sass Variables ===*/
$main-font: 'Lora',
    serif;
$headline-font: 'Comfortaa',
    cursive;
$black: #342A21;
$pink: #DA667B;
$background-color: #71816D;
$hover-color: #F1E0C5;
$light-brown: #C9B79C;
$white: #fff;

/* === Base Styles ===*/
body {
    font-size: 20px;
    font-family: $main-font;
    color: $black;
    display: flex;
    flex-direction: flex-column;
    flex-wrap: wrap;
}

/*== Grid System ==*/
.full-width {
    width: 100%;
    margin: 0 auto;
}

/*== Navbar ==*/
#navbar {
    border: 2px solid red;

    #logo {
        width: 100%;
    }
}