/*== = Sass Variables ===*/
$main-font: 'Lora',
serif;
$headline-font: 'Comfortaa',
cursive;
$black: #342A21;
$pink: #DA667B;
$green: #71816D;
$hover-color: #F1E0C5;
$light-brown: #C9B79C;
$white: #fff;

/* === Base Styles ===*/
body {
    font-size: 20px;
    font-family: $main-font;
    color: $black;
    display: flex;
    flex-direction: flex-column;
    flex-wrap: wrap;
}

/* === Grid system ===*/
.full-width {
    width: 100%;
    margin: 0 auto;
}

/* == Header ==*/
header {
    border: 5px solid $light-brown;
    padding: 40px 0;

    #navbar {
        width: 100%;

        #logo {
            height: 380px;
            float: left;
            padding: 15px 35px;
            margin-bottom: 20px;
        }

        .link-items {
            a {
                display: block;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                font-size: 20px;
                color: $green;
            }

            a:hover {
                color: $hover-color;
            }
        }
    }
}

/*== Welcome Section ==*/
#welcome-section {
    background-color: $pink;
    padding: 80px 0;

    h1 {
        font-size: 35px;
        font-family: $headline-font;
        text-align: center;
        color: $green;
    }

    h3 {
        font-size: 25px;
        font-family: $headline-font;
        text-align: center;
    }
}

/*== Mission quote ==*/
#mission-quote {
    padding: 80px 0;
    border: 5px solid $light-brown;

    blockquote {
        font-size: 25px;
        line-height: 32px;
    }
}

/*== Artist Statement ==*/
#artist-statement {
    padding: 40px;

    img {
        width: 100%;
    }

    p {
        line-height: 32px;
    }
}

/* == Projects ==*/
#projects {
    padding: 40px;
    background-color: $pink;

    img {
        width: 100%;
    }

    h3 {
        text-align: center;
        font-family: $headline-font;
        font-size: 25px;
        color: $white;
    }

    .pic-info {
        text-align: center;
        margin-bottom: 40px;

        caption {
            font-size: 18px;
        }

        a {
            color: $green;
            text-decoration: none;
        }

        a:hover {
            color: $hover-color;
        }
    }
}

/*== Contact ==*/