/*== = Sass Variables ===*/
$main-font: 'Lora',
    serif;
$headline-font: 'Comfortaa',
    cursive;
$black: #342A21;
$pink: #DA667B;
$background-color: #71816D;
$hover-color: #F1E0C5;
$light-brown: #C9B79C;
$white: #fff;

/* === Base Styles ===*/
body {
    font-size: 20px;
    font-family: $main-font;
    color: $black;
    width: 100%;
    margin: 0 auto;
}

/*=== Navbar ===*/
#navbar {
    background-color: $background-color;

    #logo {
        width: 10%;
    }

    #navbarSupportedContent {
        color: $white;
        font-size: 20px;
        font-weight: bold;
    }
}

/*=== Welcome Section ===*/
#welcome-section {
    padding: 80px 0;
    background-color: $pink;

    h1 {
        font-size: 35px;
        font-family: $headline-font;
        color: $white;
    }

    h2 {
        font-size: 30px;
        font-family: $headline-font;
        color: $white;
    }
}

/*=== Artist Statement ===*/
#artist-statement {
    border: 5px solid $light-brown;
    height: 550px;
    padding: 20px 0;

    p {
        line-height: 32px;
        padding: 20px;
    }
}

/*=== Projects ===*/
#projects {
    padding: 40px 0;

    h2 {
        font-family: $headline-font;
        font-size: 30px;
        padding: 20px 0;
    }

    .project-tile {
        padding: 15px 0;

        h3 {
            font-family: $headline-font;
            font-size: 25px;
        }

        a {
            color: $pink;
            font-size: 20px;
            text-decoration: none;
            margin-left: 120px;
        }

        a:hover {
            color: $hover-color;
        }
    }
}

/*=== Mission Quote ===*/
#mission-quote {
    background-color: $pink;
    padding: 80px 0;

    blockquote {
        font-size: 30px;
        color: $white;
        font-family: $headline-font;
    }
}

/*=== Contact ===*/
#contact {
    border: 5px solid $light-brown;
    padding: 20px 0;

    h2 {
        font-size: 30px;
        font-family: $headline-font;
        color: $background-color;
    }

    p {
        font-size: 18px;
        text-align: center;
    }
}